@{
    ViewBag.Title = "About";
}
<br>
<h1>About "LAWN MOWERS" APPLICATION.</h1>


<h2>Intro.</h2>
<h3>It was used as a basic project "ASP.NET Web Application" to respond to the interaction of the user through a GUI,
This way you can run the simulation process "n" times.
</h3>

<h3>
    Any type of error will be handled as an exception that invites the user to enter a valid sequence.
</h3>

<h2>Assumptions.</h2>
<h3>    
    You can only move forward if the next position is empty, if there is a mower in front, you should wait for receive 
    an order of rotation "L or R".</h3>

<h3>The pruners will only be able to cross the established land, since in each movement 
    the edges are verified.
</h3>

<h2>Execution.</h2>
<h3>
    The solution was made in 12 hours.
</h3>

