@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Spain<br />
    <abbr title="Phone">P:</abbr>
    555.555.555
</address>

<address>
    <strong>Skype:</strong>   <a href="">alexis.escamez</a><br />
    <strong>email:</strong> <a href="mailto:escamez.alexis@gmail.com">escamez.alexis@gmail.com</a>
</address>